@use "/src/styles/variables.scss" as v;


.container {
  margin: auto;
  padding: 5rem ;
  width: 100%;

  .csvEditor {
    width: fit-content;
    position: relative;
    margin: auto;

    .header {
      display: flex;
      gap: 1rem;

      .title {
        font-weight: 400;
        font-size: 2.6rem;
        margin-bottom: 2rem;
      }

      .controls {
        display: flex;
        gap: 1rem;
        height: 3rem;

        .button {
          border: none;
          border-radius: .5rem;
          padding: .5rem 1rem;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    .csvEditorContainer {
      display: flex;
      flex-direction: row;
      border-radius: 1rem;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;

      .chosen {
        z-index: 4;
        opacity: .5;
        //box-shadow: .2rem .5rem 1.5rem .5rem v.$black;
      }
    }

    .command {
      margin-top: 2rem;
      display: flex;
      gap: 2rem;

      .button {
        font-size: 1.6rem;
        padding: .7rem 1.5rem;
      }
    }
  }

  .containerViewer {
    margin-top: 5rem;

    .controller {
      margin-top: 3rem;
      display: flex;
      gap: 1rem;

      .button {
        font-size: 1.6rem;
        padding: .7rem 1.5rem;
        border-radius: .5rem;
        border: none;
        cursor: pointer;
        display: flex;
        gap: 1rem;
      }
    }

    .tableContainer {
      width: 100%;
      overflow: auto;
      max-height: 37.5rem;

      .table {
        background-color: v.$white;
        vertical-align: middle;
        border-collapse: collapse;
        overflow-x: auto;
        width: 100%;

        .row {
          &:nth-child(even) {
            background-color: transparentize(v.$black, .9);
          }
        }

        .cell {
          padding: .8rem 2rem;
          white-space: nowrap;
          text-align: center;
          border: .1rem solid v.$black;
          overflow: hidden;

          &:nth-child(odd) {
            background-color: transparentize(v.$black, .9);
          }

          &:first-child {
            width: 15rem;
            position: sticky;
            background-color: v.$white;
            outline: 1px solid v.$black;
            left: 0;
          }
        }

        .head {
          font-weight: bold;
          background-color: v.$white;
          position: sticky;
          top: 0;

          .row {
            background-color: transparentize(v.$black, .8);

            .cell {
              outline: .05rem solid transparentize(v.$black, .5);
            }
          }
        }
      }
    }
  }
}

