.select {
  text-align: center;

  .selected {
  }

  .options  {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
    transform: scaleY(0);
    background-color: var(--background-color);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;

    .option {
      transition: transform 0.3s ease-in-out;
      transform: scaleY(0);
      background-color: transparentize(#000, 0.9);
      padding: .5rem 0;

      &:first-of-type {
        padding-top: 1.5rem;
      }

      &:last-of-type {
        padding-bottom: 1.5rem;
      }
    }

    &.active {
      pointer-events: auto;
      transform: scaleY(1);
      z-index: 5;

      .option {
        transform: scaleY(1);
      }
    }
  }
}